<%= turbo_stream.replace "habit-count" do %>
  <div class="text-4xl font-bold" id="habit-count"><%= @habit.count %></div>
<% end %>

<%= turbo_stream.replace "habit-markers" do %>
  <%= render 'habit_markers', habit: @habit %>
<% end %>